name: Test

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    uses: gjtorikian/actions/.github/workflows/ruby_test_suite.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
